.fp {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1024px;
  gap: 20px;
}

.fpItem {
  gap: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.fpImg {
  width: 100%;
  border-radius: 10px;
}

.fpName {
  font-weight: bold;
}

.fpCity {
  font-weight: 300;
}

.fpPrice {
  font-weight: 500;
}

.fpRating > button {
  background-color: #003580;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 3px;
  margin: 10px;
  font-weight: bold;
}

.fpRating>span{
    font-size: 14px;
}